<header class="site-header">
  <nav class="cf nav-collapse">
    <ul class="nav-list">
      <li><a class="without-style more-button" href="/about/"><svg class="svg-button svg" viewBox="0 0 72 72" preserveAspectRatio="xMinYMax meet"><use xlink:href="#info"></use></svg> ABOUT</a></li>
      <li><a class="without-style more-button" href="/authors/"><svg class="svg-button svg" viewBox="0 0 72 72" preserveAspectRatio="xMinYMax meet"><use xlink:href="#users"></use></svg> AUTHORS</a></li>
      <li id="subscribe" class=""><a href="https://confirmsubscription.com/h/r/066AFBA15492935C" class="without-style more-button"><svg class="svg-button svg" viewBox="0 0 72 72" preserveAspectRatio="xMinYMax meet"><use xlink:href="#contact"></use></svg> SUBSCRIBE</a></li>
    </ul>
  </nav>
</header>
