<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Enable twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@daiglobal">
  <meta name="twitter:creator" content="@daiglobal">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.excerpt | truncate: 240 | strip_html }}">
  <meta name="twitter:image" content="https://dai-global-developments.com{{ page.social-image | default: "/uploads/social-image.jpg" }}">
  <meta property="fb:app_id" content="166488866849393">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta http-equiv="X-UA-Compatible" content="IE=9">
  <meta property="fb:admins" content="100001494188199"/>
  
  <!-- JS -->
  <script   src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
  <script type="text/javascript" src="/js/site.js?v=20"></script>
  
  <link rel="stylesheet" href="{{ "/css/main.css?v=24" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}" />
  <!--[if lt IE 9]>
    <script type="text/javascript">
      window.location = "http://browsehappy.com/";
    </script>
  <![endif]-->
</head>
