
// 🎌The Grid 🎌
.site-header{
  margin-bottom: 3rem;
  @include responsive(small-screens){
   margin-bottom: 5rem;
  }
}
.page-content img{
  width: 100%;
}
.page-content{
  @include responsive(medium-screens){
    @include width(8);
  }
  @include responsive(wide-screens){
    float: right;
  }
}
.big-wrap{
  margin: auto;
  @include responsive(tiny-screens){
    @include width(4);
  }
  @include responsive(tinyish-screens){
    @include width(4.5);
  }
  @include responsive(small-screens){
    @include width(6);
  }
  @include responsive(medium-screens){
    @include width(8);
  }
  @include responsive(wide-screens){
    @include width(12);
  }
  @include responsive(ultra-wide-screens){
    @include width(14);
  }
}

// 🎌The Header🎌

/*Navigation*/
.svg-button{
  height: 1rem;
  position: relative;
  top: .2rem;
  left: -.2rem;
  display: inline;
  width: 1rem;
}

.nav-list{
  list-style-type: none;
  padding-left: 0;

  li{
    @include responsive(small-screens){
      display: block;
      float: left;
      margin-right: 1rem;
    }
  }
}
.page-title{
  margin-top: 0;
  margin-bottom: 2rem;
}
.lead-in{
  margin-bottom: 3rem;
}
// 🎌Content🎌
/*Captions*/
code{
  margin-top: .1rem;
  margin-bottom: .5rem;
  background-color: #EBEBEB;
  padding: .2rem;
  padding-left: .5rem;
  font-style: italic;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  display: block;
  width: 100%;
  font-size: .8rem;
  line-height: .9rem;
}
.more{
  text-align: right;
}
.more--icon{
  height: 1rem;
  position: relative;
  top: .14rem;
}
.post-details--tags, .post-details--byline, .post-details--date{
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3rem;
}
.post{
  @include clearfix;
}
.post-details{
  padding-left: 1rem;
  border-left: 1px solid $gray;
}
img.author-pic{
  display: block;
  width: 200px;
  margin-top: .5rem;
  margin-right: auto;
  margin-left: auto;
  @include responsive(medium-screens){
    float: left;
    margin-right: $gutter;
  }
}
.more{
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.more-button, .nav-toggle{
  padding: .25rem .8rem;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
  font-size: .9rem;
}
button.more-button{
  background-color: white;
  color: $blue;
  padding: .15rem .8rem !important;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
  font-size: .9rem;
}
div.filter-button-group ul li{
  margin-top: .3rem;
}
a.more-button:hover, button.more-button:hover, button.is-checked, a.footer-subscribe{
  color: white;
  background-color: $blue;
  border-color: $blue;
}
a.footer-subscribe:hover{
  background-color: white;
  color: $blue;
  border-radius: 30px;
  border: 1px solid #e4e4e4;
  font-size: .9rem;
}
.svg-more{
  height: .8rem;
  width: .8rem;
  position: relative;
  top: .12rem;
  left: -.3rem;
}
.tag-archive--block{
  display: none;
}
// 🎌Asides🎌
.ais-Highlight{
  font-weight: bold;
}
.related-links{
  text-align: center;
}
.related-link{
  margin-right: 1rem;
}
.aside-related{
  margin-top: 6rem;
  ul{
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 2.3rem;
    li{
      margin-top: 1rem;
    }
  }
  @include responsive(wide-screens){
    @include width(4);
    float: left;
    margin-right: $gutter;
  }
}
.aside--logo{
  width: 50%;
}
aside{
  padding: 2rem;
  background-color: lighten($gray, 25%);
}
button{
  outline: none !important;
}
button:active{
  outline: none !important;
}
button:focus {
  outline: none !important;
}
button.is-checked{
  outline: none !important;
}
button.more-button.tag-filter{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  border-radius: 3px;
  margin-bottom: .5rem;
}
img.float-left{
  float: left;
  margin-right: .5rem;
  margin-top: .5rem;
  width: 25%;
}
img.float-right{
  float: right;
  margin-left: .5rem;
  margin-top: .5rem;
  width: 25%;
}
// 🎌The Footer🎌
.colophon{
  text-align: center;
   img{
  height: 2rem;
  position: relative;
  top: 10px;
  }
}
// 🎌Pagination🎌
.pagination{
  margin: 4rem auto 1rem auto;
  font-family: 'Archivo Narrow';
  padding: .5rem;
  background-color: lighten($gray, 30%);
  span, a{
    display: inline-block;
    padding: 1rem 1rem;
    @include responsive(medium-screens){
      padding: 1rem 2rem;
    }
    text-align: center;
    text-decoration: none;
    border-radius: .2rem;
  }
}
.pagination a{
  border: 2px solid $blue;
  a:hover{
    border: 2px solid darken($blue, 10%);
  }
}
.pagination span{
  border: 2px solid black;
}
.previous{
float: right;
}
.next{
  float: left;
}
.page_number{
  text-align: center;
  margin-top: .5rem;
  font-family: 'Archivo Narrow';
}
// 🎌Footer🎌

footer{
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  clear: right;
}
p.subscribe{
  text-align: center;
}
.footer-subscribe{
  margin: auto;
  display: inline-block;
}

// 🎌Print Styles🎌
@media print{
  .big-wrap{
    @include width(8);
  }
  img.author-pic{
      float: left;
      margin-right: $gutter;
  }
}
// 🎌Improvements🎌
.post-content, .post{
  position: relative;
}
.post-content img, .post img, .post-content code, .post code{
  @include responsive(ultra-wide-screens){
    width: 120%;
    position: relative;
    left: -10%;
  }
  // @include responsive(super-ultra-wide-screens){
  //   width: 150%;
  //   left: -25%;
  // }
}
.post-content img.author-pic{
  width: 25%;
  float: left;
  left: 0;
  margin-right: 24px;
}
.post-content img.float-left, .post.grid-item img.float-left{
  width: 25%;
  float: left;
  left: 0;
  margin-right: 24px;
}
.post-content img.float-right, .post.grid-item img.float-right{
  width: 25%;
  float: right;
  left: 0;
  margin-left: 24px;
}

.related-list-item{
  display: block;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
}
a.related-item-link{
  background-color: white;
  color: $theme-color;
  padding: 0;
}
.related-item-text{
  padding: 10px 15px;
  display: block;
  font-weight: bold;
}
.related-item-image{
  width: 100%;
  height: 150px;
  background-position: center;
  border-radius: 6px 6px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  @include responsive(wide-screens){
    background-size: cover;
    background-position: top;
  }
}
.series-flag{
  text-align: center;
  padding: 2px;
  color: white;
  background-color: $theme-color;
  a{
    color: white;
    font-weight: bold;
    :hover{
      color: white;
      font-weight: bold;
    }
  }
}
input.search-field{
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
  @include responsive(wide-screens){
    width: 80%;
  }
}
a.st-ui-stamp{
  display: none !important;
}
a.st-ui-close-button:hover{
  border-bottom: 0px !important;
}
.section-header, .archive-link{
  margin-bottom: 1rem;
  text-align: center;
}

// SEARCH ALGOLIA
.aa-input-container, input.aa-input-search{
  width:92%;
  @include responsive(tinyish-screens){
    width: 93%;
  }
  @include responsive(small-screens){
    width: 95%;
  }
  @include responsive(wide-screens){
    width: 92%;
  }
}
.aa-dropdown-menu{
  width: 92%;
  @include responsive(tinyish-screens){
    width: 93%;
  }
  @include responsive(small-screens){
    width: 95%;
  }
  @include responsive(wide-screens){
    width: 110%;
  }
}
.aa-input-container {
  display: block;
  position: relative; 
}
span.algolia-autocomplete{
  display: block !important;
}
.aa-input-search {
  // width: 300px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  padding: 9px 28px 9px 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
}
  .aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
    display: none; 
  }
  .aa-input-search{
    outline: none;
  }
.aa-input-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  right: 1px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #e4e4e4; }
.aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(228, 228, 228, 0.6);
  // min-width: 300px;
  margin-top: 10px;
  box-sizing: border-box; 
  -moz-box-shadow:    0px 0px 5px 1px rgba($blue, 0.35);
  -webkit-box-shadow: 0px 0px 5px 1px rgba($blue, 0.35);
  box-shadow:         0px 0px 5px 1px rgba($blue, 0.35);
}
.aa-suggestion {
  padding: 12px;
  cursor: pointer;
}
.aa-suggestion + .aa-suggestion {
    border-top: 3px solid rgba(228, 228, 228, 0.6);
}
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
.algolia__result-highlight{
  font-weight: bold;
}
.aa-suggestion.aa-cursor{
  background-color: rgba($blue, 0.1);
}
.aa-suggestion+.aa-cursor{
  background-color: rgba($blue, 0.1);
  border-top: 3px solid $blue;
}

iframe.video{
  margin: 0;
  @include responsive(ultra-wide-screens){
    width: 120%;
    position: relative;
    left: -10%;
  }
}
img.set-border{
  border: 1px solid #e4e4e4;
}
.reason-table{
  thead{
    display: none;
  }
  tr td{
    border: 0px;
  }
  tr{
    border: 0px;
  }
}
