// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌

body{
  visibility: hidden;
  line-height: 1.5rem;
}
.wf-inactive body{
  visibility: visible;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  .page-title{
    font-family: 'proxima-nova', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 5rem;
    color: $black;
    text-align: center;
    a{
      color: $blue;
    }
  }
  h1, h2, h3, h4{
    font-family: 'adelle-condensed', Georgia, serif;
  }
}
blockquote{
  border-left: 2px solid $blue;
  padding-left: 2rem;
  margin-left: 1rem;
}
.post-content{
  li{
    margin-bottom: 8px;
  }
}
.wf-active body{
  visibility: visible;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  color: $black;
  .page-title{
    font-family: 'proxima-nova', Helvetica, sans-serif;
    font-size: 2rem;
    @include responsive(small-screens){
      font-size: 3rem;
    }
    @include responsive(medium-screens){
      font-size: 4rem;
    }
    text-align: center;
    a{
      color: $blue;
    }
  }
  h1, h2, h3, h4{
    font-family: 'adelle-condensed', Georgia, serif;
  }
}
h1, h2, h3, h4{
  line-height: 2.3rem;
}
h1.masthead-title{
  a.pub-title{
    color: $black;
  }
  &:hover{
    color: $black;
  }
  &.developments{
    font-weight: 900;
  }
  &.dai-publications{
    font-weight: 400;
  }
  &.developing-alternatives{
    font-weight: 300;
    line-height: 3.5rem;
  }
}
.page-title span{
  position: relative;
  top: -.1rem;
  font-size: 5rem;
  text-align: center;
}
.colophon{
  font-family: 'adelle-condensed', Georgia, serif;
  span{
    display: inline-block;
    width: .2rem;
  }
}
.svg{
  fill: currentColor;
}

nav a{
  font-family: 'proxima-nova', Helvetica, sans-serif;
  color: darken($blue, 10%)
}
.colophon{
  font-family: 'proxima-nova', Helvetica, sans-serif;
}
nav a:hover{
  border-bottom: 2px solid $blue;
}

hr{
  border: none;
  border-bottom: 1px solid lighten($gray, 10%);
  &.pubs{
    margin-bottom: 2rem;
  }
}
.lead-in{

}
// 🎌Navigational Links🎌
.more a{
  font-family: 'proxima-nova', Helvetica, sans-serif;
}
// 🎌Content🎌
.post-details{
  font-family: 'proxima-nova', Helvetica, sans-serif;
  span{
    padding: .15rem .3rem;
  }
}
// 🎌Content Links🎌

a{
  text-decoration: none;
  color: $blue;
}
a:hover{
  color: darken($blue, 10%);
}
a:not(.without-style){
  border-bottom: 2px solid $blue;
}
a:not(.without-style):hover{
  border-bottom: 2px solid darken($blue, 10%);
}

/*a:not(.without-underline){
  color: $blue;
  font-weight: bold;
  background-size: 2px 2px;
  @include fancyUnderline();
}
a:not(.without-underline):hover{
  background-size: 2px 2px;
  color: darken($blue, 10%);
}*/
