// 🎌Use the web-font loader to hide the flash of unstyled text—if Google fonts goes down, serve the next font in the stack🎌

body{
  visibility: hidden;
  line-height: 1.8rem;
}
.wf-inactive body{
  visibility: visible;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  .page-title{
    font-family: 'adelle-condensed', helvetica, sans-serif;
    font-weight: 200;
    font-size: 4rem;
  }
  h1, h2, h3, h4{
    font-family: 'adelle-condensed', helvetica, sans-serif;
  }
}
.wf-active body{
  visibility: visible;
  font-family: 'proxima-nova', Helvetica, sans-serif;
  .page-title{
    font-family: 'adelle-condensed', helvetica, sans-serif;
    font-weight: 200;
    font-size: 4rem;
  }
  h1, h2, h3, h4{
    font-family: 'adelle-condensed', helvetica, sans-serif;
  }
}
h1, h2, h3, h4{
  line-height: 2.3rem;
}
.page-title span{
  position: relative;
  top: -.3rem;
  font-size: 5rem;
}
.colophon{
  font-family: 'adelle-condensed', helvetica, sans-serif;
  span{
    display: inline-block;
    width: .2rem;
  }
}
.svg{
  fill: currentColor;
}
nav a{
  font-family: 'proxima-nova', Helvetica, sans-serif;
}
nav a:hover{
  border-bottom: 2px solid darken($blue, 10%);
}

.highlighter-rouge{
  background-color: #2C3644;
  margin: 2rem;
  padding: 1rem;
  code{
    word-wrap: break-word;
  }
}
hr{
  border: none;
  border-bottom: 1px solid $red;
}
// 🎌Navigational Links🎌
.more a{
  font-family: 'proxima-nova', Helvetica, sans-serif;
}
// 🎌Content🎌
.post-details{
  font-family: 'proxima-nova', Helvetica, sans-serif;
  span{
    padding: .15rem .3rem;
  }
}
// 🎌Content Links🎌

a{
  text-decoration: none;
  color: $blue;
}
a:hover{
  color: darken($blue, 10%);
}
a:not(.without-underline){
  color: $blue;
  font-weight: bold;
  @include fancyUnderline();
}
a:not(.without-underline):hover{
  background-size: 2px 2px;
  color: darken($blue, 10%);
}
