---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include svg_sprite.html %}
    <div class="big-wrap">
      {% include header.html %}
        <div class="page-content">
            <h1 class="page-title"><a class="site-title without-style" href="{{ site.baseurl }}/"><svg class="svg-logo" viewBox="0 0 818 114"  preserveAspectRatio="xMinYMax meet"><use xlink:href="#svg-logo"></use></svg></a></h1>
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
      <div class="aside-related cf">
        <div class="aside--logo"><a class="without-style" href="http://dai.com"><svg class="search" viewBox="0 0 996 255" preserveAspectRatio="xMinYMax meet"><use xlink:href="#dai-logo"></use></svg></a></div>
        <p><strong>DAI</strong> works on the frontlines of international development. Transforming ideas into action—action into impact. <a class="without-style" href="http://dai.com">We are committed to shaping a more livable world</a>.</p>
        <p class="related-links"><a class="without-style more-button related-link" href="/feed.xml"><svg class="svg-button svg" viewBox="0 0 72 72" preserveAspectRatio="xMinYMax meet"><use xlink:href="#rss"></use></svg> RSS</a><a class="without-style more-button related-link" href="mailto:daidigital@dai.com"><svg class="svg-button svg" viewBox="0 0 72 72" preserveAspectRatio="xMinYMax meet"><use xlink:href="#contact"></use></svg> CONTACT</a></p>
        {% if page.layout == 'post' or page.layout == 'author'%}
          <hr>
          {% include related.html %}
        {% endif %}
      </div>
      {% include footer.html %}
    </div>
  </body>

</html>
