---
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include svg_sprite.html %}
    <div class="big-wrap">
      {% include header.html %}
        <div class="page-content">
            <h1 class="page-title"><a class="site-title without-style" href="{{ site.baseurl }}/"><svg class="svg-logo" viewBox="0 0 818 114"  preserveAspectRatio="xMinYMax meet"><use xlink:href="#svg-logo"></use></svg></a></h1>
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
      <div class="aside-related">
        <div class="aside--logo"><a class="without-style" href="dai.com"><svg class="search" viewBox="0 0 996 255" preserveAspectRatio="xMinYMax meet"><use xlink:href="#dai-logo"></use></svg></a></div>
        <p><strong>DAI</strong> works on the frontlines of international development. Transforming ideas into action—action into impact. <a class="without-style" href="http://dai.com">We are committed to shaping a more livable world</a>.</p>
        <p>We tackle fundamental social and economic development problems caused by inefficient markets, ineffective governance, and instability. We work with a wide range of clients, including national and local governments, bilateral and multilateral donors, private corporations, and philanthropies.</p>
        {% if page.layout == 'post' or page.layout == 'author'%}
          {% include related.html %}
        {% endif %}
      </div>
      {% include footer.html %}
    </div>
  </body>

</html>
